 .navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    bottom: 0;
    align-items: center;
    gap: 90px;
    
  }
  .navbar img{
    width: 20px;
    height: 20px;
  }
  .as1{
    margin-left: 40px;
  }
input{
  width: 430px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid gray;
  padding-left: 10px;
}
input:focus{
  border: 1.5px solid blue;
  outline: none;
}
main{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.item img{
  width: 200px;
  height: 150px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
}
.item h3{
  font-size: 15px;
  position: absolute;
  color: white;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
.item{
  position: relative;
}
@media (min-width: 600px) {
  input{
    width: 550px;
    height: 40px;
    margin-left: 100px;
  }
  .item img{
  width: 400px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
}
   .navbar{
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    background: white;
    bottom: 0;
    align-items: center;
    gap: 230px;
    
  }
  .navbar img{
    width: 35px;
    height: 35px;
  }
  .as1{
    margin-left: 40px;
  }
}